<!-- <div *ngIf="feedbacks.length == 0" class="container p-3 bg-body-secondary rounded main centro mt-5 mb-5 rounded-5">
  <div class="row">
    <div class="col-12 col-md-6">
      <button routerLink="/formFeed/:id" class="btn btn-primary">Inserisci Feedback</button>
    </div>
    <div class="col-12 col-md-6 mt-3 mt-md-0">
      <h3>Nessun feedback inserito</h3>
    </div>
  </div>
</div> -->

<div class="container p-3 bg-body-secondary rounded main centro mt-5 mb-5 rounded-5">
  <div class="row">
    <div class="d-flex justify-content-between" >
        <a class="btn btn-primary" routerLink="/formFeed/:id">Invia Feedback</a>
    </div>
    
    <!-- Feedback Inviati -->
    <div class="col-12 col-md-6">
      <br><hr>
      <section class="container pb-5">
        <div class="d-flex justify-content-between">
          <h3>Feedback Inviati <i class="fa fa-paper-plane-o" style="font-size:24px"></i></h3>
        </div>
        <div class="d-flex justify-content-center my-3">
          <div class="table-responsive">
            <table class="table table-striped">
              <!-- Intestazione tabella -->
              <tr class="bg-primary">
                <th class="text-white">#</th>
                <th class="text-white">Inviato il</th>
                <th class="text-white">Gruppo di lavoro</th>
                <th class="text-white">Esito valutazione</th>
                <th class="text-white">Inviato a</th>
                <th></th>
              </tr>
              <!-- Dati tabella -->
              <tbody *ngFor="let f of feedbacks">
                <tr *ngIf="f.sentBy==token.username">
                  <td>{{f.id}}</td>
                  <td>{{f.sendDate}}</td>
                  <td>{{f.teamGroup}}</td>
                  <td>
                    <ng-container *ngIf="f.feedbackType=='Positivo'">
                      <i class="fa fa-thumbs-o-up" style="font-size:24px"></i>{{f.feedbackType}}
                    </ng-container>
                    <ng-container *ngIf="f.feedbackType=='Miglioramento'">
                      <i class="fa fa-cog fa-spin"> </i>{{f.feedbackType}}
                    </ng-container>
                  </td>
                  <td>{{f.sentAt}}</td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="var(--bs-primary)" class="bi bi-eye-fill" viewBox="0 0 16 16">
                      <path class="eye-open" d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path class="eye-closed" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Feedback Ricevuti -->
    <div class="col-12 col-md-6">
      <br><hr>
      <section class="container pb-5">
        <div class="d-flex justify-content-between">
          <h3>Feedback Ricevuti <i class="fa fa-paper-plane-o" style="font-size:24px;transform: rotate(180deg);"></i></h3>
        </div>
        <div class="d-flex justify-content-center my-3">
          <div class="table-responsive">
            <!-- Tabelle Feedback Ricevuti -->
            <table class="table table-striped">
              <tr class="bg-primary">
                <th class="text-white">#</th>
                <th class="text-white">Inviato il</th>
                <th class="text-white">Gruppo di lavoro</th>
                <th class="text-white">Esito valutazione</th>
                <th class="text-white">Inviato a</th>
                <th></th>
              </tr>
              <!-- Dati tabella -->
              <tbody *ngFor="let f of feedbacks">
                <tr *ngIf="f.sentAt==token.username">
                  <td>{{f.id}}</td>
                  <td>{{f.sendDate}}</td>
                  <td>{{f.teamGroup}}</td>
                  <td>
                    <ng-container *ngIf="f.feedbackType=='Positivo'">
                      <i class="fa fa-thumbs-o-up" style="font-size:24px"></i>{{f.feedbackType}}
                    </ng-container>
                    <ng-container *ngIf="f.feedbackType=='Miglioramento'">
                      <i class="fa fa-cog fa-spin"> </i>{{f.feedbackType}}
                    </ng-container>
                  </td>
                  <td>{{f.sentAt}}</td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="var(--bs-primary)" class="bi bi-eye-fill" viewBox="0 0 16 16">
                      <path class="eye-open" d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path class="eye-closed" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
