<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="">Home </a>
      <a class="nav-item nav-link" href="formTag/:id">Form Tag</a>
      <a class="nav-item nav-link" href="tabellaTag">Tabella Tag</a>
      <a class="nav-item nav-link " href="formFeed/:id">Form Feedback </a>
      <a class="nav-item nav-link active" href="tabellaFeed">Tabella Feedback <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<div *ngIf="feedbacks.length == 0" class="container p-3 bg-body-secondary rounded main centro mt-5 mb-5 rounded-5">
    <button routerLink="/formFeed" class="btn btn-dark">Inserisci Tag</button>
    <h3>Nessun tag inserito</h3>
    </div>
    
    <div class="container p-3 bg-body-secondary rounded main centro mt-5 mb-5 rounded-5" *ngIf="feedbacks.length > 0">
        <section class="container pb-5">
          <h3 class="text-center my-4">Tabella feedback</h3>
          <div class="d-flex justify-content-center my-3">
            <table border="1" class="table table-striped">
              <thead class="bg-warning">
                <th class="text-dark">Id</th>
                <th class="text-dark">Tipo feedback</th>
                <th class="text-dark">Data di invio</th>
                <th class="text-dark">Creato in data</th>
                <th class="text-dark">Modificato in data</th>
                <th class="text-dark">Stato</th>
                <th class="text-dark">Descrizione</th>
                <th class="text-dark"></th>
      
              </thead>
              <tbody class="bg-dark">
                <tr *ngFor="let feedback of feedbacks">
                  <td class="text-warning">{{feedback.id}}</td>
                  <td class="text-warning">{{feedback.feedbackType}}</td>
                  <td class="text-warning">{{feedback.sendDate}}</td>
                  <td class="text-warning">{{feedback.createdAt}}</td>
                  <td class="text-warning">{{feedback.updateAt}}</td>
                  <td class="text-warning">{{feedback.enable}}</td>
                  <td class="text-warning">{{feedback.description}}</td>
                  <td><button routerLink='/formFeed/{{feedback.id}}' class="btn btn-outline-warning">Modifica</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      
        <div class="d-flex justify-content-center my-3">
          <a class="btn btn-outline-warning px-3 bg-dark" (click)="getFeedImp(0)">First page</a>
          <a class="btn btn-outline-warning px-3 bg-dark" (click)="getFeedImp(page-1)">Previous</a>
          <a class="btn btn-outline-dark px-3 bg-warning">Pagina {{page+1}}</a>
          <a class="btn btn-outline-warning px-3 bg-dark" (click)="getFeedImp(page+1)">Next</a>
          <a class="btn btn-outline-warning px-3 bg-dark" (click)="getFeedImp(nPagine)">Last page</a>
        </div>
      
      </div>
