<form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="container p-3 bg-body-secondary rounded main centro mt-5 mb-5 rounded-5">
      <div>
        <h2 style="text-align: center;">Login</h2>
      </div>
  
      <div class="col-6 centroDue">
        <label for="username" class="form-label pt-3">Username</label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username"
          (click)="resetMessage()" placeholder="Inserisci l'username">
  
        <label for="password" class="form-label pt-3">Password</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password"
        (click)="resetMessage()" placeholder="Inserisci la password">
      </div>
      <br>
      <div class="centroTre">
        <button type="submit" class="btn btn-square btn-primary" style="margin-right: 2%;">Accedi</button>
        <button class="btn btn-square btn-primary" routerLink="/formUser/:id">Registrati</button>
      </div>
  
    </div>
  </form>
  
