<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">System Feedback Fiven</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link active" href="">Home <span
            class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="formUser/:id">Form User</a>
          <a class="nav-item nav-link" href="formTag/:id">Form Tag</a>
          <a class="nav-item nav-link" href="formFeed/:id">Form Feedback</a>
          <a class="nav-item nav-link" href="tabellaUser">Tabella User</a>
          <a class="nav-item nav-link" href="tabellaTag">Tabella Tag</a>
          <a class="nav-item nav-link" href="tabellaFeed">Tabella Feedback</a>
         
      </div>
  </div>
</nav>
<h1>Bienvenue</h1>