<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="">Home </a>
      <a class="nav-item nav-link active" href="formTag/:id">Form Tag <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="tabellaTag">Tabella Tag</a>
      <a class="nav-item nav-link" href="formFeed/:id">Form Feedback</a>
      <a class="nav-item nav-link" href="tabellaFeed">Tabella Feedback</a>
    </div>
  </div>
</nav>
<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="container-fluid" class="inputWidth">
    <h3>Registrazione Tag</h3>
    <br>
  <div class="row">
    <div class="col" >
      <label for="tagName" class="form-label">Nome Tag</label>
      <input type="text" class="form-control" name="tagName" id="tagName" onclick="resetMessage()" [(ngModel)]="tag.tagName" />
    </div>
  </div>
    <label for="description" class="form-label">Descrizione Tag</label>
    <br>
    <textarea id="description" name="description" rows="4" cols="50" [(ngModel)]="tag.description">
    </textarea>
    <br>
      <!-- <div class="form-row">
         <div class="col">
          <label for="createdAt" class="form-label">Creato in data</label>
          <input type="date" class="form-control" name="createdAt" id="createdAt"
          onclick="resetMessage()" [(ngModel)]="tag.createdAt" />
        </div>  -->
        <!-- <div *ngIf="tag.id!=0" class="col">
          <label for="createdAt" class="form-label">Aggiornato in data</label>
          <input type="date" class="form-control" name="updateAt" id="updateAt"
          onclick="resetMessage()" [(ngModel)]="tag.updateAt" />
        </div> 
       </div>  -->
      <br>
      <div *ngIf="tag.id!=0">
      <label for="enableTrue">Enable</label >
        <input style="margin-left: 2%;" type="radio" id="enableTrue" name="enable" value="true" [(ngModel)]="tag.enable">
        <label style="margin-left: 4%;" for="enableFalse">Disable</label>
        <input  style="margin-left: 2%;" type="radio" id="enableFalse" name="enable" value="false" [(ngModel)]="tag.enable">
      </div>
        <br>
      <button type="submit" class="btn btn-dark">Salva</button>
      </div>
</form>