input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.centro {
  margin: 0 auto;
  text-align: center;
  width: 45%;
  padding: 30px;
}

.centroDue {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.centroTre{
  text-align: center;
}

.login {
  margin: 0 auto;
  width: 70%;
}

.tag{
    margin: 0 auto;
    width: 50%;
    /* justify-content: center; */
    text-align: center;
}

