<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="container p-3 mt-4 bg-body-secondary rounded main centro mt-5 mb-5 rounded-5">
    <h3>Invia Feedback</h3>
    <br>

    <!-- Tipo Feedback -->
    <div class="row">
      <div class="col-md-6">
        <label for="feedbackType" class="form-label">Tipo di Feedback</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="feedbackType" id="feedbackPositivo" value="Positivo" onclick="resetMessage()" [(ngModel)]="feedback.feedbackType">
          <label class="form-check-label" for="feedbackPositivo">
            Positivo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="feedbackType" id="feedbackMiglioramento" value="Miglioramento" onclick="resetMessage()" [(ngModel)]="feedback.feedbackType">
          <label class="form-check-label" for="feedbackMiglioramento">
            Di miglioramento
          </label>
        </div>
      </div>

      <!-- Tag -->
      <div class="col-md-6">
        <label for="tagName" class="form-label pt-3">Tag</label>
        <select name="tagName" id="tagName" class="form-select" [(ngModel)]="feedback.tagName">
          <option *ngFor="let t of tags" [value]="t.tagName">
            {{ t.tagName }}
          </option>
        </select>
      </div>
    </div>

    <!-- Descrizione -->
    <div class="form-group">
      <label for="description" class="form-label">Motiva la tua valutazione</label>
      <textarea id="description" name="description" class="form-control" rows="4" cols="50" [(ngModel)]="feedback.description"></textarea>
    </div>

    <!-- Gruppo di lavoro -->
    <div class="form-group">
      <label for="teamGroup" class="form-label">Gruppo di lavoro</label>
      <input type="text" class="form-control" name="teamGroup" id="teamGroup" onclick="resetMessage()" [(ngModel)]="feedback.teamGroup" />
    </div>

    <!-- Inviato A -->
    <div class="form-group">
      <label for="sentAt" class="form-label">Scegli destinatario:</label>
      <select name="sentAt" id="sentAt" class="form-select" [(ngModel)]="feedback.sentAt">
        <option *ngFor="let u of users" [value]="u.username">
          {{ u.username }}
        </option>
      </select>
    </div>

    <!-- <input type="hidden" class="form-control" name="dataMovimento" id="dataMovimento" 
    placeholder="Inserisci Data di movimento" onclick="resetMex()" [(ngModel)]="prodottoMagazzino.dataMovimento"> -->
    <!-- Inviato Da -->
    <input type="hidden" class="form-label" name="sentBy" id="sentBy"  [value]="feedback.sentBy" onclick="resetMessage()" [(ngModel)]="feedback.sentBy" />
    <!-- <select  name="sentBy" id="sentBy" class="form-select" [(ngModel)]="feedback.sentBy">
      <option>{{ token.username }}
      </option>
    </select> -->
    <!-- Enable / Disable -->
    <div *ngIf="feedback.id != 0">
      <label for="enableTrue">Enable</label>
      <input style="margin-left: 2%;" type="radio" id="enableTrue" name="enable" value="true" [(ngModel)]="feedback.enable">
      <label style="margin-left: 4%;" for="enableFalse">Disable</label>
      <input style="margin-left: 2%;" type="radio" id="enableFalse" name="enable" value="false" [(ngModel)]="feedback.enable">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Invia</button>
    </div>
  </div>
</form>


<!-- <div class="form-row">
       <div class="col">
          <label for="createdAt" class="form-label">Creato in data</label>
          <input style="width:auto" type="date" class="form-control" name="createdAt" id="createdAt"
          onclick="resetMessage()" [(ngModel)]="feedback.createdAt" />
          </div> -->
<!-- <div *ngIf="feedback.id!=0" class="col">
            <label for="updateAt" class="form-label">Aggiornato in data</label>
            <input style="width:auto" type="date" class="form-control" name="updateAt" id="updateAt"
            onclick="resetMessage()" [(ngModel)]="feedback.updateAt" /> 
          </div> 
        </div>  -->