<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">System Feedback Fiven</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link " href="#">Home </a>
      <a class="nav-item nav-link" href="formTag/:id">Inserisci Tag</a>
      <a class="nav-item nav-link active" href="formFeed/:id">Invia Feedback <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="tabellaUser">Tabella User</a>
      <a class="nav-item nav-link" href="tabellaTag">Tabella Tag</a>
      <a class="nav-item nav-link" href="tabellaFeed">Tabella Feedback</a>
    </div>
  </div>
  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link btn btn-outline-primary mx-1 active" href="login">Login</a>
    <a class="nav-item nav-link btn btn-outline-primary mx-1 active" href="#">Logout</a>
    <a class="nav-item nav-link btn btn-outline-primary mx-1 active" href="formUser/:id">SignIn</a>
  </div>
</nav>



<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="container-fluid" class="inputWidth">
    <h3>Invia Feedback</h3>
    <br>

        <!-- Tipo Feedback -->
        <label for="feedbackType" class="form-label">Tipo di Feedback</label>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="feedbackType" id="feedbackPositivo" value="Positivo" onclick="resetMessage()" [(ngModel)]="feedback.feedbackType" >
          <label class="form-check-label" for="feedbackPositivo">
            Positivo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="feedbackType" id="feedbackMiglioramento" value="Miglioramento" onclick="resetMessage()" [(ngModel)]="feedback.feedbackType" >
          <label class="form-check-label" for="feedbackMiglioramento">
            Miglioramento
          </label>
        </div>
        
        
        <!-- Tag -->
        <div>
          <label for="tagName" class="form-label pt-3">Tag</label>
          <select name="tagName" id="tagName" class="form-select" [(ngModel)]="feedback.tagName" >
            Choose Tag:
            <option *ngFor="let t of tags" [value]="t.tagName" checked>
              {{ t.tagName }}
            </option>
          </select>
        </div>
        
        <br>
        <!-- Descrizione -->
        <label for="description" class="form-label">Motiva la tua valutazione</label>
        <br>
        <textarea id="description" name="description" rows="4" cols="50" [(ngModel)]="feedback.description">
        </textarea>
        <br>
        
        <br>
        <!-- Gruppo di lavoro -->
        <label for="teamGroup" class="form-label">Gruppo di lavoro</label>
        <input type="text" class="form-control" name="teamGroup" id="teamGroup" onclick="resetMessage()" [(ngModel)]="feedback.teamGroup" />
        <br><br>

         <!-- Inviato A -->
         <div>
          <label for="sentAt" class="form-label">Scegli destinatario: </label>
          <select name="sentAt" id="sentAt" class="form-select" [(ngModel)]="feedback.sentAt" >
            
            <option *ngFor="let u of user" [value]="u.username" checked>
              {{ u.username }}
            </option>
          </select>
        </div>

        <!-- <label for="sentAt" class="form-label">Scegli destinatario: </label>
        <input type="text" class="form-control" name="sentAt" id="sentAt" onclick="resetMessage()" [(ngModel)]="feedback.sentAt" /> -->
        <br><br>

         <!-- Inviato Da -->
         <input type="hidden" class="form-control" name="sentBy" id="sentBy" [value]="token.username" onclick="resetMessage()" [(ngModel)]="feedback.sentBy" />
         <br><br>


        <!-- Enable / Disable -->
        <!-- <div *ngIf="feedback.id!=0">
        <label for="enableTrue">Enable</label >
          <input style="margin-left: 2%;" type="radio" id="enableTrue" name="enable" value="true" [(ngModel)]="feedback.enable">
          <label style="margin-left: 4%;" for="enableFalse">Disable</label>
          <input  style="margin-left: 2%;" type="radio" id="enableFalse" name="enable" value="false" [(ngModel)]="feedback.enable">
        </div>
           -->
          <br>

        <button type="submit" class="btn btn-dark">Salva</button>
        </div>
     
  </form>

  <!-- <div class="form-row">
       <div class="col">
          <label for="createdAt" class="form-label">Creato in data</label>
          <input style="width:auto" type="date" class="form-control" name="createdAt" id="createdAt"
          onclick="resetMessage()" [(ngModel)]="feedback.createdAt" />
          </div> -->
          <!-- <div *ngIf="feedback.id!=0" class="col">
            <label for="updateAt" class="form-label">Aggiornato in data</label>
            <input style="width:auto" type="date" class="form-control" name="updateAt" id="updateAt"
            onclick="resetMessage()" [(ngModel)]="feedback.updateAt" /> 
          </div> 
        </div>  -->
